/bin/
/.gradle/

**/target/**
**/.settings/**
**/build/**
.classpath
.project
.springBeans
.idea
*.iml
*.html
*.xml
*.ipr
*.iws
build/
/classes/
/current_keystore.pfx
/current_truststore.jks
test-output/
gradle/
